.tabview > div.ui-state-active {
    border-width: 0.2em;
}

.tabview .tabview-pane > div {
    float: left;
    padding: 0.4em 1em;
    margin-left: 0.2em;
    cursor: pointer;
}
.tabview .tabview-pane > div.ui-state-active {
    cursor: auto;
}

.tabview > div.ui-widget-content {
    padding: 0.5em;
}

.tabview .tabview-pane > div > span.ui-icon {
    float: right;
    margin-left: .5em;
    margin-right: -.5em;
    cursor: pointer;
}
